body{
    /* background-color: rgb(0, 179, 255); */
    /* background-color: rgba(2, 7, 73, 1); */
    /* background-color: blue; */
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: black(118, 54, 9);
    text-transform: uppercase;
}
.form-container{
    background-color: bisque;
    width: 50%;
    border-radius: 5px;
    margin: 50px 150px;
    padding: 50px 15px 20px 100px;
 
}
.names{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
}


.fname{
    float: left;
}
.lname{
    float: right;
    /* margin-right: 60px; */
}
.input-names input{
    width: 66%;
    height: 35px;
    border: none;
    border-radius: 20px 20px;
    /* margin-bottom: 10px; */
    padding-left: 20px;
    margin: 5px 0px 20px 0px;
}
.input-names input:hover{
    border: 3px solid rgb(162, 162, 227);
}
/* .world{
    margin-bottom: 25px;
} */

/* .world input{
     width: 70%;
    border-radius: 5px;
    margin-top: 18px;
    padding-left: 20px;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 5px;
}  */
/* .world input,select{
     width: 40%;
    padding-left: 100px;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 2px;
}  */
/* .world label[for="status"]{
    position: relative;
    left: 100px;
    bottom: 30px;
    text-transform: capitalize;
  
    font-size: 16px;
} */
.world input,select:hover{
    border: 3px solid rgb(162, 162, 227);
}
    


.field{
    margin-bottom: 25px;
}

.field input{
     width: 85%;
    border-radius: 5px;
    /* margin-top: 18px; */
    padding-left: 20px;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 5px;
}
.field input:hover{
    border: 3px solid rgb(162, 162, 227);
}
label{
    margin: 20px;
}


h2{
    text-transform: capitalize;
    font-size: 16px;
}
table{
    width: 600px;
    /* height: 100px; */

}
table, th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    border: 3px solid #00ADB5;
    /* border: 3px solid ; */

}
thead {
    background-color: rgb(171, 199, 251);
}
th:nth-child(1),td:nth-child(1){
    background-color: rgb(163, 194, 251);
}
 #Date{
    width: 30%;
    /* background-color: aqua; */
    border: none;
    height: 20px;
    border-radius: 8px;
    padding: 10px;
}
#Date:hover{
    border: 2px solid rgb(153, 153, 222);
}
.btn{
   margin-left: 60px;
}
.btn button{
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(74, 191, 74);
    color: aliceblue;
    margin-top: 40px;
    border-radius: 5px 5px;
    border: none;
    width: 50%;
    height: 54px;

}
.btn button:hover{
    background-color: rgb(13, 75, 13);
}
/* signature */
.signature-canvas {
  border: 4px solid blue;   
  border-radius: 8px;   
  background-color: #fff;   
}
.sign button {
   width: 100px;
   height: 30px;
   border: none;
   border-radius: 50px;
   background-color: rgb(155, 155, 236);
   float: right;
   margin-right: 340px;
}
.sign button:hover{
    background-color:rgb(169, 169, 248);
}
/* LOGIN */


.fields input{
    width: 30%;
    border-radius: 5px;
    padding: 8px;
    padding-left: 26px;
    margin-top: 10px;
    border: 2px solid rgb(153, 153, 222);
    
}

.circleText h1{
    color:goldenrod; 
    text-align: start;
}
.circleText h3,p{
    color:white; 
    text-align: start;
}
input[type="checkbox" i] {
    /* background-color: initial; */
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    position: relative;
    right: 100px;
    margin-top: 10px;
}
label[for="text"]{
    /* padding-bottom: 180px; */
    position: relative;
    right: 260px;
    bottom: 10px;
    /* word-spacing: 3px   ; */
    font-size: 16px;
}
.signIn h4{
    font-size: 26px;
    margin-bottom: 10px;
}
.hr-text {
  display: flex;
  /* align-items: center; */
  /* text-align: center; */
  color: gray;        
  font-weight: bold;  
  margin: 20px 0;      
}

.hr-text::before,
.hr-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;  
}

.hr-text:not(:empty)::before {
  margin-right: 10px; 
}

.hr-text:not(:empty)::after {
  margin-left: 10px;  
}


.btn_signIn button{
    background-color:rgba(2, 7, 73, 1);
    width: 70%;
    height: 40px;
    margin-left: 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

/* REGISTRATION */

.fiel{
    margin-bottom: 10px;
}
.fiel input,select{
     width: 88%;
    /* border-radius: 5px; */
    /* margin-top: 18px; */
    padding-left: 20px;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 2px;
}
label[for="word"]{
    /* padding-bottom: 180px; */
    position: relative;
    left: 100px;
    bottom: 30px;
    /* word-spacing: 3px   ; */
    font-size: 16px;
}
.fiel input:hover{
    border: 3px solid rgb(162, 162, 227);
    
}
#icon{
    position: relative;
    left: 360px;
}

   
    




 
